<footer>
    <section class="container-fluid footer-container">
        <div class="row">
            <div class="social-container mx-auto">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.facebook.com">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.pinterest.se/">
                            <i class="fab fa-pinterest" aria-hidden="true"></i>
                            <span class="sr-only">Pinterest</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="copyright-container mx-auto">
                    <p class="text-secondary">Copyright Hardman Photo 2021</p>
                </div>
            </div>
        </div>
    </section>
</footer>