{% extends "base.html" %}
{% load static %}

{% block content %}
<!--- Header --->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">Blog</h2>
        </div>
    </div>
    <!--- Blog Intro --->
    <section>
        <div class="container-fluid div-section">
            <div class="container">
                <div class="row">
                    <h2 class="h2-style text-center">All About Photography</h2>
                </div>
                <div class="row mt-3">
                    <div class="container">
                        <p class="paragraph-margin">
                          Kale chips jianbing shabby chic, trust fund pitchfork id deep v. Et organic typewriter, deserunt poke small batch artisan. Sint hammock disrupt, hashtag tote bag messenger bag vape keffiyeh. Knausgaard selfies activated charcoal shaman ugh. Butcher eiusmod food truck yuccie shabby chic letterpress cillum. 
                        </p>
                        <img src="{{ MEDIA_URL }}seperater.png" alt="no-image" class="center-2">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog pictures -->
    <div class="row hp-section-3">
        <div class="container">
            <div class="row product-card-row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="{{ MEDIA_URL }}blog-1.jpg" alt="decor" class="homepage-cards-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="{{ MEDIA_URL }}blog-2.jpg" alt="chair" class="homepage-cards-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="{{ MEDIA_URL }}blog-3.jpg" alt="feather" class="homepage-cards-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- Blogs --->
    <div class="bg-white-trans-blog">
        <div class="row">
            <div class="col-8 offset-2">
            </div>
        </div>
        {% for post in posts %}
        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h3 class="blog-title mt-3">{{ post.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <div class="text-muted">{{ post.date_added | date:"d M - Y | h:i"}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                <article>{{ post.intro }}</article>
            </div>
        </div>
        <div class="row pb-2 mt-3">
            <div class="col-8 offset-2">
                <a href="{% url 'detail_post'  post.slug %}" class="read-text">Read more</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}