{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row py-5">
    <div class="col text-center">
        <h2 class="logo-font text-white">Error 400</h2>
        <p class="text-center mt-1 text-white">Sorry, your request resulted in an error!</p>
        <a href="{% url 'home' %}" class="text-white">
            <p class="text-center mt-1 fst-italic">Take me to the homepage</p>
        </a>
    </div>
</div>
</div>

{% endblock %}