{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Header -->
<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <h2 class="logo-font text-white">About Hardman Photo</h2>
        </div>
    </div>
</div>

<!-- About image and text container -->
<div class="container my-3">
    <div class="row">
        <!-- About image -->
        <div class="col-12 col-md-12 col-lg-6 px-0">
            <img src="{{ MEDIA_URL }}about.jpg" alt="about-image" class="about-image">
        </div>

        <!-- About text  -->
        <div class="col-12 col-md-12 col-lg-6 bg-dark p-5">
            <p class="about-text text-white">Hardman Photo is the home of Claire Hardman: Photographer and
                visual artist.
                Claire's background is in TV News and theatre amongst a host of other things. She focuses on the
                arts, documentary, portraits and anything that sounds like a challenging and exciting project.
                If you are looking for pictures that are one of a kind and breaking the mould then Claire
                Hardman is the thing for you. Claire is based in Stockholm and always loves to meet new people
                with new and inspiring ideas.
                For enquiries, love letters and hate mail just send it through to: contact@hardmanphoto.se
            </p>
        </div>
    </div>
</div>

{% endblock %}