{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!--- Header --->
<div class="container-fluid about-container">
    <div class="row">
        <div class="col about-heading">
            <h2 class="logo-font text-white">About Hardman Photo</h2>
        </div>
    </div>
</div>

<!--- About image --->
<div class="container">
    <div class="row align-items-center my-4">
        <div class="col-12 col-md-6">
            <div class="my-4">
                <img src="{{ MEDIA_URL }}about.jpg" alt="about-image" class="about-image text-center">
            </div>
        </div>

        <!--- About text container --->
        <div class="col-12 col-md-12 col-lg-6">
            <p class="about-text text-white bg-dark p-4">Hardman Photo is the home of Claire Hardman: Photographer and
                visual artist.
                Claire's background is in TV News and theatre amongst a host of other things. She focuses on the
                arts, documentary, portraits and anything that sounds like a challenging and exciting project.
                If you are looking for pictures that are one of a kind and breaking the mould then Claire
                Hardman is the thing for you. Claire is based in Stockholm and always loves to meet new people
                with new and inspiring ideas.
                For enquiries, love letters and hate mail just send it through to: contact@hardmanphoto.se
            </p>
        </div>
    </div>
</div>
</div>

{% endblock %}